:root {
    --font-size: 18px;

    --bg-color: #ffffff;
    --max-width: 1140px;
    --button-color-white: #fff;
    --button-color-violet: #9C69E2;
    --button-color-pink: #F063B8;


    --decore-bg-color-pink: #FDE8F5;
    --decore-bg-color-blue: #CCDDFF;
    --text-color: #4B5D68;
    --tite-color: #212353;
    --transition: .5s;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--font-sz);
}

button {
    padding: 16px;
    min-width: 210px;
    height: 60px;
    border-radius: 50px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: none;
    outline: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0 5px 5px #4B5D681A);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.6px;
    letter-spacing: 0.005em;
    cursor: pointer;
    transition: var(--transition);
}

header {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    background: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    margin-bottom: 100px;

    figure {
        height: 35px;
        width: 45px;
    }

    svg {
        path {
            transition: var(--transition);
            stroke: var(--button-color-violet)
        }
    }

    button {
        background: var(--button-color-white);
        border: 1px solid var(--button-color-violet);
        color: var(--button-color-violet);

        &:hover {
            background: var(--button-color-violet);
            color: var(--button-color-white);

            svg {
                path {
                    stroke: var(--button-color-white);
                }
            }
        }
    }

    nav {
        width: 100%;
        margin-left: 100px;

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
        }

        a {
            text-decoration: none;
            padding: 5px;
            cursor: pointer;
            color: inherit;
            transition: var(--transition);

            &:hover {
                color: var(--button-color-violet);
            }
        }
    }
}

main {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.banner {
    padding: 20px 0;
    position: relative;
    margin-bottom: 100px;

    h1 {
        font-family: Work Sans;
        font-size: 80px;
        font-weight: 700;
        line-height: 88px;
        color: var(--tite-color);
        user-select: none;
        margin-bottom: 50px;
        max-width: 600px;
    }

    p {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 28.8px;
        color: inherit;
        margin-bottom: 50px;
        width: 100%;
        max-width: 370px;
    }

    button {
        background: var(--button-color-pink);
        border: 1px solid var(--button-color-pink);
        color: var(--button-color-white);
        justify-content: center;

        &:hover {
            background: #EB4BAB;
        }
    }

    img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

.we-are {
    padding: 70px;
    position: relative;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background: var(--decore-bg-color-pink);
    border-radius: 50px;
    gap: 20px;

    figure {
        max-width: 400px;

    }

    article {
        max-width: 500px;
        h4 {
            font-family: Work Sans;
            font-size: 40px;
            font-weight: 700;
            line-height: 52px;
            color: var(--tite-color);
            margin-bottom: 40px;
        }
        p {
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            line-height: 28.8px;
            color: inherit;
        }
    }
}